
.tfin {
    font-weight: 300;
    font-family: "inter", sans-serif;
}

.rfin {
    font-weight: 500;
    font-family: "inter", sans-serif;
}

.bfin {
    font-weight: 700;
    font-family: "inter", sans-serif;
}

.plusclsp summary::after {
    content: "+";
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s ease;
  }

  /* Change to "-" when <details> is open */
.plusclsp[open] summary::after {
    content: "−";
      }
  
    