
.tfin {
    font-weight: 300;
    font-family: "inter", sans-serif;
}

.bfin {
    font-weight: 500;
    font-family: "inter", sans-serif;
}

rfin {
    font-weight: 700;
    font-family: "inter", sans-serif;
}